body {
	margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
	margin: 50px 0;
}

html, body {
  background-color: #eee;
}

a {
  color: #A1AB55;
  text-decoration: none;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

.navbar-top {
  height: 10px;
  /* http://www.colourlovers.com/pattern/243057/Here_Comes_Treble */
  background: url(../img/herecomestreble-shsh.png) repeat top left;
}

.navbar {
  background: #A1AB55;
}

.navbar-brand {
  color: white;
}

.navbar .nav > li > a, .navbar .nav > li > a:hover {
  color: white;
  font-size: 16px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background-color: #776E66;
}

/* Alignments */
.alignright {
        float: right;
}
.alignleft {
       float: left
}
img.alignright {
       padding: 4px;
       margin: 0 0 2px 7px;
       display: inline;
}
img.alignleft {
       padding: 4px;
       margin: 0 7px 2px 0;
       display: inline;
}
img.center {
       margin-left: auto;
       margin-right: auto;
       display: block;
}

ul.social {
       list-style-type: none;
}
