@import "compass_twitter_bootstrap";
@import "simplex";

#lt {
  color: red;
  display:inline;
  position:absolute;
}

#three {
  color: red;
  display:inline;
  position:absolute;
}

#four {
  color: red;
  display: none;
}
