<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    {{ template "chrome/meta.html" . }}

    <base href="{{ .Site.BaseUrl }}">
    <title>{{ .Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ template "chrome/head_includes.html" . }}

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        {{ template "chrome/navbar.html" . }}
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-8">
