<div class="well">

<img class="center" src="/img/brandon-philips.jpg"/>

<p></p>

<p>ifup.org by Brandon Philips contains excerpts from my code, work and play.</p>

<p>I love writing systems software and my current passion and work is <a href="http://coreos.com">CoreOS</a>.</p>

<ul class="social">
  <li><a href="https://twitter.com/brandonphilips"><i class="fa fa-twitter"></i> @brandonphilips</a></li>
  <li><a href="https://github.com/philips"><i class="fa fa-github"></i> philips</a></li>
</ul>

</div><!-- /well -->
